* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #eee;
} 

img {
  width: 100%;
}

.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px #333;
  transition: all 0.5s;
}

.btn--pink {
  background: #D74899;
  color: #fff;
}

.btn:hover {
  filter: brightness(120%);
}

.ant-btn {
  border-radius: 10px !important;
}

.ant-input {
  border-radius: 10px !important;
}
/*====================== HEADER ======================*/

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #5186C7;
}

.header-menu {
  display: flex;
  width: 1100px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: #D74899;
}

.header-menu__logo {
  width: 300px;
  margin-top: 10px;
}

.header-menu-list {
  display: flex;
  gap: 10px;
  margin: 0;
}

.header-menu-list a {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  padding: 10px;
  margin: 0 !important;
  font-weight: bold;
}

.header-menu-list a:hover {
  color: #D74899;
  background: #F0B9D8;
  transition: all 0.5s;
}

.header-menu-social a {
  color: #fff;
  padding: 0 10px;
}

.header-menu-social a:hover {
  color: #F0B9D8;
  transition: all 0.5s;
}

/*====================== CAROUSEL ======================*/
.carousel-container {
  position: relative;
  height: 600px;
}

.carousel__sky {
  background: -webkit-linear-gradient(bottom, #ffffff, #5186C7);
  height: 100%;
}

.carousel-root {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 100px;
  height: 100%;
}

.carousel-item__image {
  width: 600px !important;
}

.carousel-item__description {
  font-size: 2em;
  width: 500px;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}

.vector {
  position: absolute;
  width: 100%;
  top: 10px;
}

/*====================== CONTACT ======================*/

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 500px;
  margin-bottom: 100px;
}

.contact-text {
  width: 500px;
  text-transform: capitalize;
}

.contact-text p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.contact-text h2 {
  color: #D74899;
  font-size: 2.5em;
  margin-bottom: 20px;
}

/*====================== ABOUT US ======================*/

.about {
  position: relative;
}

.about__background {
  position: absolute;
  width: 100%;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: right;
}

.about-container-text {
  width: 500px;
  color: #fff;
  text-transform: capitalize;
}

.about-container-text p {
  font-size: 1.5em;
}

.about-container-text h2 {
  color: #D74899;
  margin-bottom: 20px;
  font-size: 2.5em;
}

/*====================== OUR AGENCIES ======================*/

.our-agencies {
  margin-top: 300px;
  margin-bottom: 100px;
}
.our-agencies h2 {
  color: #D74899;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.cards-agencie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card-agencie {
  width: 100%;
}

.card-agencie h4 {
  font-size: 1.3em;
  color: #D74899;
  margin-top: 10px;
}

.card-agencie > p {
  color: #676E80;
}

.card-agencie__title {
  position: relative;
  transition: all 0.5s;
  height: 250px;
}

.card-agencie__title span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #D74899;
  color: #F0B9D8;
  height: 100%;
  width: 30%;
  transform: scale(1.02, 1.02);
}

.card-agencie__title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-agencie:hover .card-agencie__title {
  transform: scale(1.05, 1.05);
}

/*====================== ACCESS ======================*/
.access {
  position: relative;
  color: #EA028C;
}

.access__background {
  position: absolute;
}

.access-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.access-container__title {
  font-weight: bold;
  color: #D74899;
  font-size: 3em;
}

/*====================== OUR SERVICES ======================*/

.our-services {
	margin-top: 400px;
}

.our-services h2 {
  color: #D74899;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.our-services__item {
    max-width: 1013px;
    margin: 30px auto;
    padding: 30px 20px;
    background: #eee;
}

.our-services__item h4 {
    font-weight: bold;
    color: #323232;
    text-align: center;
    font-size: 1.8em;
}

.our-services__item p {
    color: #2d2c2c;
    text-align: justify;
    font-size: 1.3em;
}


/*====================== FOOTER ======================*/

.footer {
  width: 100%;
  background-color:#0a141d;
  text-align: center;
}

.footer .footer-1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0;
}

.box h2 {
  color: #D74899;
  margin-bottom: 25px;
  font-size: 1.6em;
  font-weight: bold;
}

.box p { color:#efefef; }

.footer-2 {
  background-color: #0a1a2a;
  padding: 20px 10px;
  color: #fff;
  font-size: 1.5em;
}

.social a {
  display: block;
  font-size: 2.5em;
  color: #fff;
  transition: all .5s;
}

.social a:hover {
  color: #EA028C;
}

/*====================== DASHBOARD CLIENT  ======================*/

.dashboard-client {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #676E80;
}

.dashboard-client-window {
  width: 700px;
  height: 75vh;
  background: #D2DAEF;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  padding: 20px;
  border-radius: 10px;
}

.dashboard-client-window > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-client-window__title {
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

.header-client {
  display: grid;
  width: 100%;
  height: 13vh;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.header-client__user {
  font-size: 1.5em;
  color: #fff;
}

.header-client__user i {
  margin-right: 10px;
}

.header-client__logo {
  width: 150px;
  margin: 0 auto;
}

.header-client__setting {
  font-size: 2em;
  text-align: right;
  color: #fff;
}

.header-client__setting i { transition: all .5s; }
.header-client__setting i:hover { transform: rotateZ(90deg); }

.footer-client {
  width: 100%;
  padding: 0 20px;
  color: #fff;
  font-size: 2em;
}

.type-service__image {
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  transition: all .3s;
}

.type-service__image:hover {
  height: 170px;
  object-fit: cover;
  transform: scale(1.05, 1.05);
}
